@import url("https://fonts.googleapis.com/css?family=Catamaran:400,500,600,700,700|Source+Sans+Pro:400,600");

body {
  line-height: 1.4;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
}

p {
  font-family: "helvetica", sans-serif;
  color: #fff;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  padding: 15px 0 0 0;
  color: #fff;
}

.section {
  padding: 100px 0;
}

#home {
  position: relative;
}

.section {
  padding: 100px 0;
}

.section-sm {
  padding: 70px 0;
}

.section-xs {
  padding: 40px 0;
}

.title {
  padding-bottom: 50px;
  overflow: hidden;
}

.title h2 {
  font-weight: 600;
  font-size: 35px;
}

.title p {
  width: 50%;
  margin: 0 auto;
}

.contact-form{
  background-size: cover;
  color: #fff;
  position: relative;

}
.contact-form:before {
  content: '';
  background: rgba(0, 0, 0, 0.63);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.contact-form small{
  color:rgba(255, 255, 255, 0.753);
}
.contact-form legend{
  color:#fff;
}

.hero-area {
  background-size: cover;
  height: 40vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-area:before {
  content: '';
  background: rgba(0, 0, 0, 0.63);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-area .block {
  color: #fff;
}

.hero-area .block h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 50px;
  text-transform: uppercase;
}

.hero-area .block p {
  color: #fff;
  margin-bottom: 20px;
}

#mission-statement{
  height: 60vh;
}

.dark-bg {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.page-404 h1{
  color: #000;
}
.page-404 h2{
  color: #000;
}
.page-404 p{
  color: #000;
}

/*=================================================================
  Navigation
==================================================================*/
.navigation {
  transition: .3s all;
}

.navigation .logo-default {
  display: none;
}

.navigation .navbar-nav > li.active a {
  color: #28ABE3;
}

.navigation .navbar-nav > li > a {
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  padding: 20px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: .2s ease-in-out 0s;
}

.navigation .navbar-nav > li > a:hover, .navigation .navbar-nav > li > a:active, .navigation .navbar-nav > li > a:focus {
  background: none;
  color: #28ABE3;
}

.navigation .nav .open > a {
  background: none;
}

.sticky-header {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
  background: #fff !important;
}

.sticky-header .navbar-nav > li > a {
  color: #000;
}

.sticky-header .logo-white {
  display: none;
}

.sticky-header .logo-default {
  display: block;
}

/*=================================================================
  Footer section
==================================================================*/
.footer {
  text-align: center;
  background-color: #fff;
  border-top: 1px solid #2c2c2c;
  padding: 30px 0;
}

.footer h5 {
  font-size: 12px;
  line-height: 1;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 7px;
  margin-bottom: 3px;
}

.footer h6 {
  font-size: 11px;
  line-height: 15px;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.footer-nav{
  padding:15px;
  color: #fff;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: .2s ease-in-out 0s;
  border-top: 1px solid #2c2c2c;
}

.footer a {
  color: #28ABE3;
}

.page-404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.page-404 h1 {
  font-size: 200px;
}


/*============================================================
	For Small Desktop
==============================================================*/
@media (min-width: 700px) and (max-width: 1090px) {
  .navigation .navbar-toggle {
    border: 1px solid #fff;
  }
  .navigation .navbar-toggle span {
    background: #fff;
  }
  .navigation .navbar-nav > li > a {
    font-size: 10px;
    padding: 20px 9px;
  }
  .navigation.sticky-header .navbar-toggle {
    border: 1px solid #dedede;
  }
  .navigation.sticky-header .navbar-toggle span {
    background: #000;
  }
  .navigation.sticky-header .navbar-nav > li > a {
    padding: 16px 9px;
  }
  .hero-area {
    height: 60vh;
  }
}

/*============================================================
	Tablet (Portrait) Design for a width of 768px
==============================================================*/
@media (min-width: 768px) and (max-width: 979px) {
  .navbar-inverse .navbar-nav li a {
    padding: 20px 10px;
  }
  .hero-area {
    height: 80vh;
  }
}
/*============================================================
	Mobile (Portrait) Design for a width of 320px
==============================================================*/
@media only screen and (max-width: 767px) {
  .navigation.sticky-header .navbar-toggle {
    border: 1px solid #dedede;
  }
  .navigation.sticky-header .navbar-toggle span {
    background: #000;
  }
  .navigation.sticky-header .navbar-nav > li > a {
    padding: 8px 90px;
  }
  .navigation .navbar-toggle {
    border: 1px solid #dedede;
  }
  .navigation .navbar-toggle span {
    background: #000;
  }
  .navbar {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
    background: #fff !important;
  }
  
  .navbar .navbar-nav > li > a {
    color: #000;
  }
  
  .navbar .logo-white {
    display: none;
  }
  
  .navbar .logo-default {
    display: block;
  }
  .navbar-fixed-top {
    padding-bottom: 10px;
  }
  .navbar-collapse.in {
    overflow-y: inherit;
  }
  .navbar-brand {
    padding: 10px 0 10px 10px;
  }
  .navbar-toggle {
    margin-top: 22px;
  }
  .navbar-nav li a {
    line-height: 45px;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid transparent;
  }
  .hero-area .block h1 {
    font-size: 50px;
  }
  .title p {
    width: 100%;
  }
  .hero-area {
    height: 60vh;
    padding: 100px 0 0 0;
  }
  #mission-statement{
    height: 120vh;
  }
  #mission-statement .block p{
    width: 100%;
  }
}

/*============================================================
	Mobile (Landscape) Design for a width of 480px
==============================================================*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .title h2 {
    font-size: 32px;
  }
  .navigation .navbar-toggle {
    border: 1px solid #dedede;
  }
  .navigation .navbar-toggle span {
    background: #000;
  }
  .navbar-fixed-top {
    padding-bottom: 10px;
  }
  .navbar-brand {
    padding: 10px 0 10px 10px;
  }
  .navbar-collapse.in {
    overflow-y: inherit;
  }
  .navbar-toggle {
    margin-top: 22px;
  }
  .navbar-inverse .navbar-nav li a {
    line-height: 45px;
    padding: 0;
    text-align: center;
    border-bottom: 2px solid transparent;
  }
  .hero-area {
    height: 80vh;
  }
}